.about-us {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-us__short-info {
    padding-top: 30px;
}

.about-us__text {
    font-size: 19px;
    line-height: 30px;
    color: $black;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .about-us {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 1024px) {
    .about-us {
        display: flex;
        align-items: flex-start;
    }

    .about-us__short-info {
        padding-top: 0;
        margin-left: 30px;
    }
}