.gradient {
    background: url(../image/symbol-bg.svg) no-repeat center top, 
                $gradient-supersoft;
    border-radius: 0px 0px 12px 12px;
    position: relative;
}

.gradient::after {
    content: '';
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -10px;
}

.gradient::before {
    content: '';
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: -20px;
}

@media (min-width: 768px) {
    .gradient {
        background-size: 893px 1024px, cover;
    }
}

@media (min-width: 1024px) {
    .gradient {
        background-size: 670px 768px, cover;
    }
}

@media (min-width: 1320px) {
    .gradient {
        background-size: 697px 779px, cover;
    }
}
