.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
}

@media (min-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        padding-top: 50px;
    }
}

@media (min-width: 1024px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content;
    }
}