.item-info {
    padding-left: 30px;
    border-left: 4px solid $grey-separator;
}

.item-info:not(:last-child) {
    padding-bottom: 30px;
}

.item-info__top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.item-info__tittle {
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    order: 1;
    padding-left: 8px;
}

.item-info__text {
    font-size: 16px;
    color: $regular;
}

@media (min-width: 904px) {
    .item-info {
        width: 388px;
    }
}
