.points-btn {
    margin: 0 7.5px;
    background-color: rgba(36, 163, 255, 0.2);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.points-btn:hover {
    background-color: $active-hover;
}

.points-btn--active {
    background-color: $active-regular;
}

.points-btn--none {
    display: block;
}

@media (min-width: 768px) {
    .points-btn--none {
        display: none;
    }
}