.scroll-down-btn{
    background-color: transparent;
    border: 2px solid $grey-separator;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding-top: 5px;
}

.scroll-down-btn:hover {
    border-color: rgba(240, 20, 90, 0.5);
}

.scroll-down-btn:hover path {
    stroke: $accent;
}
    


