.tabs {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (min-width: 768px) {
    .tabs {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


@media (min-width: 1024px) {
    .tabs {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 904px;
    }
}

@media (min-width: 1024px) {
    .tabs {
        flex-direction: row;
        max-width: 1080px;
    }
}