.team {
    padding-top: 50px;
    padding-bottom: 60px;
}

.team__persons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.team__photo img {
    max-height: 500px;
    max-width: 100%;
    background-size: cover;
    object-fit: cover;
    display: block;
    border-radius: 12px 12px 0 0;
}


.team__about-box {
    background-color: $grey-bg;
    padding: 30px;
    border-radius: 0 0 12px 12px;
}

.team__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $grey-text;
    padding: 30px 0 6px;
}

.team__position {
    font-size: 14px;
    line-height: 22px;
    color: $grey-text;
}

.team__points {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    
}

.points-btn {
    margin: 0 7.5px;
    background-color: rgba(36, 163, 255, 0.2);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.points-btn:hover {
    background-color: $active-hover;
}

.points-btn--active {
    background-color: $active-regular;
}


@media (min-width: 768px) {
    .team__photo img {
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .team__photo img {
        height: 100%;
        object-fit: cover;
    }
}